<header id="main-header" class="py-2 bg-success text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>
          <i class="fas fa-user">Editar Producto</i>
        </h1>
      </div>
    </div>
  </div>
</header>

<form #productoForm="ngForm" (ngSubmit)="guardar(productoForm.form)">
  <flash-messages></flash-messages>

  <!-- Botones -->
  <section id="actions" class="py-4 mb-4 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <a routerLink="/" class="btn btn-light btn-block">
            <i class="fa fa-arrow-left"></i>Regresar al inicio
          </a>
        </div>

        <div class="col-md-3">
          <button type="submit" class="btn btn-success btn-block">
            <i class="fas fa-check"></i>Guardar Cambios
          </button>
        </div>

        <div class="col-md-3">
          <a href="#" (click)="eliminar()" class="btn btn-danger btn-block">
            <i class="fa fa-trash"></i>Eliminar Producto
          </a>
        </div>
      </div>
    </div>
  </section>

  <section id="details">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h4>Editar Producto</h4>
            </div>
            <div class="card-body">
              <div class="form-group">
                <label for="nombre">Nombre Producto</label>
                <input
                  type="text"
                  name="nombre"
                  class="form-control"
                  #nombre="ngModel"
                  [(ngModel)]="producto.nombre"
                  [ngClass]="{ 'is-invalid': nombre.errors && nombre.touched }"
                  required
                  minlength="2"
                />
                <div
                  [hidden]="!nombre.errors?.['required']"
                  class="invalid-feedback"
                >
                  Nombre requerido
                </div>
                <div
                  [hidden]="!nombre.errors?.['minlength']"
                  class="invalid-feedback"
                >
                  Debe contener al menos 2 caractéres
                </div>
              </div>

              <div class="form-group">
                <label for="cantidad">Cantidad</label>
                <input
                  type="number"
                  name="cantidad"
                  class="form-control"
                  #cantidad="ngModel"
                  [(ngModel)]="producto.cantidad"
                  [ngClass]="{
                    'is-invalid': cantidad.errors && cantidad.touched
                  }"
                  required
                />
                <div
                  [hidden]="!cantidad.errors?.['required']"
                  class="invalid-feedback"
                >
                  Cantidad requerido
                </div>
              </div>

              <div class="form-group">
                <label for="precio">Precio</label>
                <input
                  type="number"
                  name="precio"
                  class="form-control"
                  #precio="ngModel"
                  [(ngModel)]="producto.precio"
                  [ngClass]="{ 'is-invalid': precio.errors && precio.touched }"
                  required
                />
                <div
                  [hidden]="!precio.errors?.['required']"
                  class="invalid-feedback"
                >
                  Precio requerido
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</form>
